body {
    text-align: center;
    font-family: Sans-serif;
    margin: auto;
    width: 80%;
    background-color: #e0e0e0;
}

.mdc-card {
    padding: 20px;
    background-color: #ffffff;
    list-style-position: inside;
}

ul{
    text-align: left;
}

.mdc-button {
    background-color: #ffffff;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}

