body {
    text-align: center;
    font-family: Sans-serif;
    margin: auto;
    width: 80%;
    background-color: #d8d8d8;
}

.card {
    background-color: #ffffff;
    list-style-position: inside;
}

ul{
    text-align: left;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    width: 80%;
    margin: auto;
    margin-bottom: 16px;
    background-color: #3f51b5;
}

.navbar-brand {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a.nav-item {
    color:inherit;
}